# Byte-compiled / optimized / DLL files
*_cache
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
docs/autosummary_folder/
docs/Mathjax/*

# Ignore some files created in the tests
*.out

# Ignore .c files created in the process of compiling any C extension.
*_c.c

# Ignore folder created by IPython. This folder is created when I start a
# ipython notebook server in the ipython_notebooks/ folder and change one
# of the notebooks there.
ipython_notebooks/.ipynb_checkpoints

# Emacs related
flycheck*
*flymake*

# Pickle files
*.pickle

# h5 files
*.h5

# Ignore text files with the progress created by the progressbar classes
*_progress_*.txt

# Ignore MATLAB .m files
*.m

# Ignore some non-interesting files in the apps folder
apps/profile
apps/texCode.pdf

# Ignore folder created by IDEs
.idea
.vscode

# Ignore a folder created by IPython to save checkpoints for the notebook
.ipynb_checkpoints
