Cython==0.20.1
argparse==1.2.1
configobj==5.0.5
h5py==2.3.0
ipython==2.1.0
matplotlib==1.3.1
nose==1.3.3
numpy==1.9.0.dev-db10b93
pandas==0.14.0
pyparsing==2.0.2
python-dateutil==2.2
python-qt==0.50
pytz==2014.3
pyzmq==14.3.0
scipy==0.14.0
